.iStudent-pic {
  width: 65%;
  height:25vh;
  border-radius: 100%;
  gap: 10px;
  margin-left: 17%;
 margin-top: 10px;
}
.no-bottom-border {
  border-bottom: none !important;
}
.iprofile-container {
  padding: 1rem;
}

.iprofiledetails-container {
  min-height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.iprofiledetails-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.iviewstaff {
  margin-top: 18px;
}

tr {
  border-bottom: 0.5px solid #ccc;
}

.icontainer-table {
  height: 45vh; /* Set the height as needed */
  display: flex;
  flex-direction: column;
}

.table-responsive {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.table-responsive::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Optional: To make the header sticky */
.itable-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white; /* Ensure the header background covers content when scrolling */
}

@media (max-width: 768px) {
  .icard-title {
    margin-left: 0 !important;
    text-align: center !important;
  }
  .icard-text {
    margin-left: 0 !important;
    text-align: center !important;
  }
}
/* custom-styles.css */

.modal-contentsi .modal-dialog {
  max-width: 278px; /* Adjust the width as needed */
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.viewstaff-deleteappoint1 {
  font-weight: bolder;
  font-size: 25px;
}

.viewstaff-popuppara1 {
  margin-top: -20px;
  font-size: 14px;
}

.viewstaff-popup1-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.viewstaff-popup1-buttons .btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  height: 40px;
  width: 120px;
}

.viewstaff-cancel1 {
  background-color: white;
  color: #0f62fe;
  border: 2px solid #0f62fe !important;
  width: 110px;
  height: 36px;
  font-size: 14px;
  border-radius: 5px;
}

.viewstaff-delete1 {
  background-color: red;
  color: white;
  width: 110px;
  height: 36px;
  font-size: 14px;
}


.itable{
  margin-top: 10px;
  font-size: 12px;
  width: 100%;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
  min-height: fit-content;
}
.full-height {
  max-height: max-content;
}


.view-container
{
  display: flex;
  margin-top: 85px;

}

.itable-row-bottom
{
  border-bottom: none !important;
}

.iresponsive-button {
  font-size: 0.1rem; 
  width: 120px;/* Default font size */
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 998px) {
  .iresponsive-button {
    font-size: 0.7rem; 
    width: 120px;/* Slightly smaller font size */
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .iresponsive-button {
    font-size: 0.6rem; /* Even smaller font size */
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 400px) {
  .iresponsive-button {
    font-size: 0.525rem; /* Smallest font size */
  }
}



@media (max-width: 968px) {
  .staffcard-title,
  .card-text {
    margin-left: 0 !important;
    text-align: center !important;
  }
  
  .iresponsive-button{
    font-size: 0.5rem;
    padding: 0.3rem 0.3rem;
  }
}

@media (max-width: 576px) {
  .iresponsive-button {
    font-size: 0.4rem;
    padding: 0.2rem 0.2rem;
  }
}

@media (max-width: 400px) {
  .iresponsive-button {
    font-size: 0.7rem;
    padding: 0.25rem 0.6rem;
  }
}
.staffnames {
  font-weight: 350;
  font-size: 18px; /* Default size */
  margin-bottom:10px; /* Default margin */
}

@media (min-height: 1000px) { /* Large screens */
  .staffnames  {
    font-size: 15px;
    margin-bottom: 7px;
  }
}

@media (min-height: 801px) and (max-height: 999.98px) { /* Medium screens */
  .staffnames  {
    font-size: 19px;
    margin-bottom: 5px;
  }
}

@media (min-height: 601px) and (max-height: 800.98px) { /* Small screens */
  .staffnames {
    font-size: 17px;
    margin-bottom: 4px;
  }
}
.staffidnumber {
  font-size: 14px; /* Default size */
  margin-bottom: 10px;
  font-weight: bold; /* Default margin */
}
.lighterfont{
  font-weight: normal;
}

@media (min-height: 1000px) { /* Large screens */
  .staffidnumber {
    font-size: 19px;
    margin-bottom: 7px;
  }
  .lighter {
    font-size: 17px;
  }
}

@media (min-height: 801px) and (max-height: 999.98px) { /* Medium screens */
  .staffidnumber {
    font-size: 17px;
    margin-bottom: 5px;
  }
  .lighter {
    font-size: 16px;
  }
}

@media (min-height: 601px) and (max-height: 800.98px) { /* Small screens */
  .staffidnumber {
    font-size: 17px;
    margin-bottom: 4px;
  }
}
.staffdesignationid{
  font-size: 12px;
}
.card-container {
  border-radius: 10px;
  width: 100%;
  margin-top: 1rem;
}

.icard-title, .icard-text {
  margin-left: 50px;
}

.icard-title {
  font-size: 15px;
}

.icard-text {
  font-size: 13px;
}

.iresponsive-button {
  border-radius: 6px;
  border-width: 1.0px;
  font-size: 11px;
  height: 32px;
  border-color: #0089FF;
  color: #0089FF;
  background-color: white;
}
.iresponsive-button:hover {
  border: 1px solid #0089FF; /* Ensure the border is the same as the default state */
  background-color: #0089FF; /* Adjust the background color for hover state as needed */
  color: white; /* Ensure the text color remains the same */
}
.staffcard-body .staffcard-title {
  font-weight: normal;
  font-size: 16px;
 
  
}

@media (min-height: 1000px) { /* Large screens */
  .icard-title {
    font-size: 17px;
  }
  .icard-text {
    font-size: 15px;
  }
  .iresponsive-button {
    font-size: 13px;
  }
  .staffcard-body .staffcard-title {
    font-size: 18px;
  }
}

@media (min-height: 801px) and (max-height: 999.98px) { /* Medium screens */
  .icard-title {
    font-size: 16px;
  }
  .icard-text {
    font-size: 14px;
  }
  .iresponsive-button {
    font-size: 12px;
  }
  .staffcard-body .staffcard-title {
    font-size: 17px;
  }
}

@media (min-height: 601px) and (max-height: 800.98px) { /* Small screens */
  .icard-title {
    font-size: 15px;
  }
  .icard-text {
    font-size: 13px;
  }
  .iresponsive-button {
    font-size: 11px;
  }
  .staffcard-body .staffcard-title {
    font-size: 16px;
  }
}
/* Default font size */
.itable-row-bottom p,
.itable-row-bottom strong {
  font-size: 0.7rem; /* Default font size */
}

/* Responsive font size scaling */
@media (min-height: 800px) {
  .itable-row-bottom p,
  .itable-row-bottom strong {
    font-size: 0.9rem;
  }
}

@media (min-height: 1000px) {
  .itable-row-bottom p,
  .itable-row-bottom strong {
    font-size: 1.1rem;
  }
}

/* Add more media queries as needed */
.iconsult-page-done-idnumber strong {
  font-size: 0.7rem; /* Default font size */

}

.iconsult-page-done-idnumber p {
  font-weight: normal;

  font-size: 0.7rem; /* Default font size */
}

/* Media queries to increase font size with viewport height */
@media (min-height: 600px) {
  .iconsult-page-done-idnumber strong,
  .iconsult-page-done-idnumber p {
      font-size: 0.8rem;
  }
}

@media (min-height: 800px) {
  .iconsult-page-done-idnumber strong,
  .iconsult-page-done-idnumber p {
      font-size: 0.9rem;
  }
}

@media (min-height: 1000px) {
  .iconsult-page-done-idnumber strong,
  .iconsult-page-done-idnumber p {
      font-size: 1.1rem;
  }
}
/* Base styles for the table cells */
.table-cell {
  cursor: pointer;
  font-weight: 500;
  font-size: 0.7rem;
  vertical-align: middle;
}

/* Base styles for the icons */
.table-cell-icon {
  margin-left: 15px;
  width: 10px;
}

/* Base styles for the span element */
.table-cell span {
  margin-left: 10px;
}

/* Media queries to increase font size with viewport height */
@media (min-height: 600px) {
  .table-cell {
      font-size: 0.7rem;
  }
  .table-cell span {
      font-size: 0.7rem;
  }
}

@media (min-height: 800px) {
  .table-cell {
      font-size: 0.9rem;
  }
  .table-cell span {
      font-size: 0.9rem;
  }
}

@media (min-height: 1000px) {
  .table-cell {
      font-size: 1.1rem;
  }
  .table-cell span {
      font-size: 1.1rem;
  }
}
/* Base styles for the table header */
.headingtablestaff {
  font-size: 12px;
}

.headingtablestaff th {
  margin-left: 7px;
}

/* Media queries to increase font size with viewport height */
@media (min-height: 600px) {
  .headingtablestaff {
      font-size: 14px;
  }
}

@media (min-height: 800px) {
  .headingtablestaff {
      font-size: 16px;
  }
}

@media (min-height: 1000px) {
  .headingtablestaff {
      font-size: 18px;
  }
}
.modal{
  background: none;
}