.staffk-search{
  display: flex;
  justify-content: right;
  width:100%;
  height: 20px;
margin-top: -25px;

 
  }
  .staffk-overall-cont{
   
    margin-left: 310px;
    margin-top: -2px;
    padding-top: 60px;
    height: 580px !important;  
    position:relative;
    position: sticky;
  

}
  .staffk-table-container
{
  width: 72%;
  height: 20px;
  background-color:white;
  border-radius: 20px;
  position:relative;
  margin-top: 20px;
  position: sticky;
  position: fixed;
 
}
.staffk-table-division
{ 
 border-radius: 20px;
 height: auto;
  max-height: 80%;
  min-height: 30%;
  margin-left: 5%;
  margin-right: 1% !important;
  overflow-y: scroll;
  position: relative;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }

}

.staffk-heading
{
  margin-left: 40px;
  margin-top: 18px;
  
}
  .staffk-search-container {
    position: relative;
    width:360px;
  
  }
  .staffk-flex{
   display: flex;
    flex: row;
   
    justify-content: right;
   
  } 
  .staffk-search-input {
    padding-left: 28px;
    font-size: 12px;
    margin-top: -11px;
  margin-right: 20px;
    width:65%;
    height: 30px;
    border: none;
    position: absolute;
    outline: none;
  border-radius: 5px;
  }
  .staffk-icon-image img{
    width:35px;
    border:2px solid #f8f4f4;
    margin-top: 0px;
    
  } 
  

.Staffk-img {
    width: 100% ;
    height: 160px;
    top: 76px;
    left: 408px;
    border-radius: 4px;
    gap: 10px; 
    position: sticky;
}
.staffksearch{
    display: flex;
    height: 30px;
 
   justify-content: right !important;

    }
 .staffkflex{
        display: flex;
        padding-top: 10px;
      
      }
.staffk-searchimage
{
    width: 15px;
  height:15px;
  margin-top: -17px;
position: relative;
margin-right: 229px;
}
.staffk-addbutton{
 
    border-color: #0089FF;
   
    border-radius: 3px;
    color:white;
    border: none;
    width: 110px;
    margin-right: 30px;
    height: 27px;
    font-size:14px;
    background-color: #0089FF;
  }


  .staffksearch-input {
        padding-left: 30px !important; 
        font-size: 12px;
        width:300px;
        display: flex;
        height: 26px;
        border-radius: 5px;
        border: none !important;
        outline: none !important;
        
      }
.staffk-search-icon
{
    width: 15px !important;
    height: 15px !important;
}

.staffk-list-tablehead
{
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #ECECEC !important;

}

.staffk-table-content{
  background-color: white;
}
.staffk-names{
  font-weight: 700;
}
.nowrapk-container
{
  white-space: nowrap;
width: 130px !important;
}
.staffk-Profile-pic{
    border-radius: 400px;
    height: 20px;
    width: 20px;
}  
button:focus img{
    outline: none;
  }
  
.staffk-table-icon {
    margin: 0 5px;
    outline: none;
    width: 25px;
    height: 25px;
}
.staffk-table-icon:focus{
    outline: none;
} 
.staffk-pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
 margin-top: 250px;
 font-size: 12px;
 cursor: pointer;

}
.staffk-pagination-pages {
  display: flex;
 padding: 10px;
  color: #697077;
  font-size: 12px;
  border-radius: 50%;
  margin-top:-15px;
  cursor: pointer;
}
.staffk-page.active {
  background-color: #B2DCFF;
  color: #697077;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.staffk-page {
  cursor: pointer;
 padding-left: 10px;
 padding-right: 10px;
  padding: 5px;
  border: 50% solid #ccc;
  font-size: 12px;
  margin-top: 10px;
}
.staffk-prevoius-arrow{
 
  padding-right: 10px;
  font-size: 22px;
  cursor: pointer;

}
.staffk-next-arrow{
  padding-left: 10px;
  font-size: 22px;
  cursor: pointer;

}
.staffk-pagination-page{
  background-color: #B2DCFF;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.staffk-pagination-arrow{
  margin-top: 9px;
} 
.staffk-popup1-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(114, 107, 107, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -515px;
}

.staffk-popup1-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 20%;
  height: 23%;
  margin-right: 30%;
}

.staffk-deleteappoint1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  font-size: 17px;
  margin-top: -5px;
  margin-bottom: 30px;
}

.staff-close-button1 {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.staff-popuppara1 {
  font-size: 12px;
  margin-top: -30px;
}

.staff-popup1-buttons {
  display: flex;
  justify-content: space-between;
  width: 101%;

}

.staff-popup1-buttons button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 13px;

}

.staff-cancel1 {
  background-color: white;
  color: #0F62FE;
  height: 40px;
  font-weight: 600;
  margin-right: 20px;
  width: 100px;
  border: 2px solid #0F62FE !important;
}

.staff-delete1 {
  background-color: red;
  color: white;
  font-weight: 600;
  color: white;
  width: 100px;
  height: 40px;
}



@media screen and (max-width: 1012px) {
  .staffk-overall-cont{
   width: 80% !important;
    height: 700px ;
}
  .staffkflex{
    display: block;
    margin-top: -60px;
    justify-content: center !important;
    align-items: center !important;
  }
  .staffksearch
    {
justify-content: center !important;;
    }
    .staffk-search-icon
    {
      margin-left: 5px;
      margin-top: -12%;
      margin-bottom: 10%;
    }
    .staffk-addbutton
    {
margin-left: 10px;
padding-right: 10px;
    }
    .staffkicon-image img
    {
      display: none;
    }
  .staffksearch-input
  {
    justify-content: center;
    width: 98%;
  }
  .staffk-table-division
  {
    margin-top: -10px !important;
    font-size: 9px !important;
  }
  .staffk-table-container
  {
    width: 67%;
    font-size: 9px !important;
    margin-left: 10px;
  }
  .nowrapk-container
  {
    width: 90px !important;
  }
}
@media screen and (max-width: 790px) {
  .staffk-overall-cont
  {
    margin-left: 150px;
    width: 100% !important;
  }
  .staffk-table-container
  {
    width: 77%;
    font-size: 9px !important;
    margin-left: 20px;
  }
  .nowrapk-container
  {
    width: 90px !important;
  }
  
}
@media screen and (max-width: 600px) {
  .staffk-overall-cont
  {

    width: 140% !important;
  }
}
.staffk-list-tablehead th{
   border: 0;
   border-bottom-width:3px;
   border-style:solid;
   border-color: whitesmoke;
   padding: 10px;
}
.staffk-list-tablehead td{
   border: 0;
   border-bottom-width:2px;
   border-style:solid;
   border-color: whitesmoke;
   border-radius: 20px;
}
.staffk-icon{
   background-color: transparent; 
   border: none; 
   padding: 0px; 
   cursor: pointer;
   outline: none; 
   height: 35px;
   padding: auto;
}
 
.staffk-icon:focus img{
   outline: none;
 }