@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Outline&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.overall-SalesExcutivedetails {
    font-size: 12px;
    width: 1291px;
    padding-left: 15%;
   
}

.SalesExcutivedetails-btn {
    width: 245%;
    height: 105%;
    border-radius: 20px;
    border: none;
    color: white;
}

.SalesExcutivedetails-head {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    padding-left: 20px;

}

.SalesExcutivedetails-content {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 96%;
    height: 81%;
    top: 10%;
    left: 16%;
    gap: 0px;
    opacity: 0px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.overall-SalesExcutivedetails {
    height: 100%;
    width: 100%;
}

/* .img-avt {
    width: 90%;
    height: 90%;
} */

@media (max-width: 575.98px) {

    .custom-mobile-col {
        flex: 0 0 33%;
        max-width: 33%;

    }
    .overall-SalesExcutivedetails {
        width: 80%;
        padding-left: 10%;

    }
    .SalesExcutivedetails-btn {}
}
@media (max-width: 729.98px) {

    /* .custom-mobile-col {
        flex: 0 0 43%;
        max-width: 43%;

    } */
    .SalesExcutivedetails-content {
        width: 100%;
    }
    .overall-Employeedetails {
        width: 80%;
}

}