.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0089ff;
  height: 10%;
  width: 100%;
  position: fixed;
  padding: 0;
  top: 0;
  z-index: 1;
}

.logo {
  background-color: white;
  width: 6%;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 70%;
  height: 70%;
}

.fixed-container {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  margin-left: auto; /* Move to the right */
}

.bell-icon img {
  width: 19px;
  height: 19px;
  margin-right: 20px;
}

#org {
  font-size: 12px;
  color: white;
  margin-right: 6px;
  margin-top: 3px;
  float: left;
}

#sch {
  float: right;
  font-size: 12px;
  color: white;
  margin-right: 6px;
  margin-top: -3px;
}

.circle-image img {
  width: 43px;
  height: 43px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .logo {
    background-color: white;
    width: 7.8%;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 70%;
    height: 70%;
  }

  .fixed-container {
    margin-left: auto;
    position: relative;
  }

  .bell-icon img {
    width: 16px;
    height: 16px;
  }

  #org {
    font-size: 10px;
    margin-top: 6px;
  }

  #sch {
    font-size: 10px;
    margin-left: 40px;
  }

  .circle-image img {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 870px) {
  .logo {
    background-color: white;
    width: 10%;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 70%;
    height: 70%;
  }
  .fixed-container {
    margin-left: auto;
    position: relative;
  }
}
@media (max-width: 768px) {
  .logo {
    background-color: white;
    width: 10%;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 70%;
    height: 70%;
  }
  .fixed-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
  }

  .bell-icon img {
    width: 14px;
    height: 14px;
    margin-bottom: 20px;
  }

  #org {
    font-size: 9px;
    margin-left: 16px;
    margin-top: 10px;
  }
  #sch {
    font-size: 9px;
    margin-left: 50px;
    padding-bottom: 20px;
  }

  .circle-image img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .logo {
    background-color: white;
    width: 16.8%;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 70%;
    height: 70%;
  }
  .fixed-container {
    flex-direction: row;
    align-items: flex-end;
    position: relative;
  }

  .bell-icon img {
    width: 12px;
    height: 12px;
    margin-bottom: 20px;
  }

  #org {
    font-size: 7px;
    margin-top: 10px;
  }
  #sch {
    font-size: 7px;
    margin-left: 40px;
  }

  .circle-image img {
    width: 25px;
    height: 25px;
    margin-right: 10;
    margin-top: 10px;
  }
}