.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: transparent !important;
}

.tls {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.tls th{
  text-align: center;
  padding: 9px; /* Adjust the padding as needed */
  vertical-align: middle;
}



.tls td {
  text-align: center;
  padding: 3px; /* Adjust the padding as needed */
  vertical-align: middle;
  /* background-color: white !important; */
}

/* Add these styles to reduce row height */
.tls tr {
  height: 10px; /* Adjust the height as needed */
  font-size: 12px;
  border-bottom: 1px solid #ececec;
}

/* Add these styles to center the text in the header */
.tls th {
  font-weight: bold;
  border-bottom: 2px solid #ececec;
}

/* Add these styles to center the text in the checkbox cell */
.tls th input,
.tls td input {
  margin: 0 auto;
  display: block;
  background-color: white !important;
}

/* Header Left */
.header-left {
  display: flex;
  align-items: center;
  background-color: transparent !important;
}

/* Selected Count */
.home-select {
  margin-left: 10px;
}

/* Trash Icon */
.trash-icon {
  cursor: pointer;
}

.table-containers {
  background-color: white;
}
.header-right {
  margin-left: auto;
  margin-right: 10px;
  font-size: 10px;
}

.new-consulting-button {
  display: flex;
  align-items: center;
  background-color: #0089ff;
  border-radius: 5px;
  color: white;
  border: none;
  width: 150px;
padding-left: 10px;
  height: 45px;
  cursor: pointer;
  margin-right: -5px;
}

.circle-icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 80%;
}

.cols .new {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 20px;
  font-family: "Roboto";
  padding: 3px;
  font-size: 10px;
}

.cols .waiting {
  background-color: #ffeb3c;
  color: #ffffff;
  border-radius: 20px;
  font-family: "Roboto";
  padding: 3px;
  font-size: 10px;
}

.cols .closed {
  background-color: #73ff42;
  color: #ffffff;
  border-radius: 20px;
  padding: 3px;
  font-size: 10px;
}

/* Table */
.tls {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 12px;
}

/* Table Head */
.home-table {
  background-color: white;
  color: black;
  height: 20px;
  /* border-radius: 100px; */
}

/* Selected Row */
.selected-row {
  background-color: #f0f0f0;
}

.action-icon {
  cursor: pointer;
  margin-right: 5px;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

/* Delete Confirmation Modal */
.delete-confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

/* Add this CSS in your existing styles or create a new CSS file */

.view-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: left;
  border-radius: 5px;
}

.view-modal h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.view-modal p {
  margin-bottom: 8px;
}

.view-modal button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.cancel {
  color: white;
  background-color: red;
}

.ok {
  color: #0056b3;
  background-color: white;
  margin-left: 10px;
}

.view-modal button:hover {
  background-color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.red-time {
  color: red;
}
.green-row {
  background-color: lightgreen;
}

.blue-row {
  background-color: lightblue;
}

.yellow-row {
  background-color: lightyellow;
}

.red-row {
  background-color: lightcoral;
}

.home-pagination-arrow {
  cursor: pointer;
  margin-right: 0px;
  color: #697077;
  font-size: 16px;
}

.home-pagination {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.home-icon-arrow{
  font-size: 24px


}
.home-previous-arrow {
  cursor: pointer;
  margin-right: 10px;
  color: #697077;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16px;
}

.home-pagination-pages {
  display: flex;
  color: #697077;
  font-size: 16px;
  font-weight: 500;
  
  line-height: 16px;
 
}
.homepagination-pages {
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
  border: 50% solid #ccc;
  font-size: 12px;
  margin-bottom:30px;
  margin-left: 30px;
}

.homepagination-pages.active {
  background-color: #B2DCFF;
  color: #697077;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}