@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.custom-inventory-container {
  background-color: #f8f9fa;
  padding: 20px;
  padding-left: 200px;
  width: 95%;
}

.custom-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-details-container::-webkit-scrollbar {
  display: none;
}

.custom-inventory-title {
  font-family: inter;
  font-size: 24px;
  font-weight: 800;
  line-height: 29.05px;
  text-align: left;
  width: 159px;
  height: 29px;
  gap: 0px;
  opacity: 0px;
}
.custom-inventory-subtitle {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  width: 180px;
  height: 21px;
  gap: 0px;
  opacity: 0px;
}
.custom-divider {
  margin-top: 30px;
  margin-left: -40px;
}
.custom-divider1 {
  margin: 10px 0;
}
.custom-form-label {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 19.6px;
  text-align: left;
  color: rgba(33, 39, 42, 1);
  width: 300px;
  height: 20px;
  margin-top: 25px;
}
.custom-input-with-icon {
  width: Fill (300px) px;
  height: Fixed (48px) px;
  gap: 2px;
  border-radius: 10px 0px 0px 0px;
  border: 1px 0px 0px 0px;
}
.custom-bill-details-title {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  width: 92px;
  height: 21px;
  gap: 0px;
  opacity: 0px;
}
.custom-table {
  width: 97%;
  height: Hug (43px) px;
  gap: 0px;
  opacity: 0px;
  margin-top: 20px;
  border-collapse: separate;
  white-space: nowrap;

  border-spacing: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.custom-table th,
.custom-table td {
  padding: 15px 15px;
  text-align: center !important;
  border: none;
  border-radius: 5px;
}

.custom-light-font {
  font-family: Inter;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.52px;
  text-align: start;
  background: #f8f9fa !important;
  padding-left: 40px !important;
}
.custom-form-select {
  font-weight: 400;
  color: #666;

  font-family: Roboto;
  font-size: 14px;
  line-height: 22.4px;
}

.custom-form-select:focus,
.custom-form-select1:focus {
  outline: none;
  box-shadow: none;
  border-color: grey;
}

.custom-form-select option {
  font-weight: 200;
}

.custom-form-select1 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.4px;
  text-align: left;
  width: 100%;
  height: auto;
}

.custom2-form-select1 option:first-of-type {
  color: #999;
  font-style: italic;
}

.custom-form-select1 option:first-of-type[disabled] {
  color: #999;
  font-weight: 400;
}

.custom-button {
  width: 20%;
  height: 100%;
  border-radius: 70px;
  background: rgba(0, 137, 255, 0.3);
  border: 1px solid rgba(0, 137, 255, 1);
  color: rgba(0, 137, 255, 1);
  font-family: inter;
}



.custom-button2 {
  padding: 8px 10px 8px 10px;
  margin-right: 30px;
  border-radius: 70px;
  width: 196px;
  gap: 10px;
  opacity: 0px;
  font-size: 14px;

  margin-bottom: 50px;
  font-family: inter;
}

@media (max-width: 890px) {
  .custom-form-select,
  .custom-form-select1 {
    font-size: 9px;
    padding: 6px 10px;
  }
  .custom-inventory-container {
    background-color: #f8f9fa;
    padding: 20px;
    padding-left: 167px;
    width: 100%;
  }
}
