* {
  font-family: Roboto, sans-serif;
}

.appointment-box1 {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border: '1px solid #ccc';
  border-radius: 7px;
  width: 429px;
  height: 180px;
  margin-top: 10px;
}

.appointment-sick {
  width: 429px !important;
}


.appointment-flex13 {

  display: flex;
  padding: 18px;
  border-radius: 7px;
  /* box-shadow: 4px 0px 16px 0px rgba(0, 0, 0, 0.1); */
}

.appointment-para {
  color: #FF0000;
  width: 230px !important;
  border-radius: 7px;
  border: 2px solid #FF0000;
  background-color: white;
  height: 40px;
  font-weight: bolder;

}

.appointment-para-medicine {
  color: #FF0000;
  width: 200px !important;
  border-radius: 7px;
  background-color: white;
  border: 2px solid #FF0000;
  font-weight: bolder;
  height: 40px;
}

.appointment-para-medicinepres {
  width: 200px;

  border-radius: 8px;
  background-color: #0089FF; 
  color: white;
 border-color: #0089FF;
  height: 40px;
}



.appointment-para1 {
  width: 160px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #0089FF;
 background-color: white;
 color: #0089FF;
  text-align: center;

}

.appointment-para,
.appointment-para1 {
  cursor: pointer;
}


.appointment-start {
  font-size: 25px;
  font-weight: bold;
  /* margin-left: 20px; */
  width: 190px;
  border: none;
  border-radius: 5px;
 

}

.appointment-consult {

  font-size: 13px;
  border-radius: 5px;
  background-color: #6E7787;
  color: white;
}

.appointment-consult:hover {
  cursor: pointer;
}


.appointment-start {
  color: black;
  border-color: black;
}

.appointment-starttime {
  color: black;
  border: none;
  /* margin-top: 30px; */
  font-size: 10px;
  font-weight: 600;
}

.appointment-viewimage:hover {
  cursor: pointer;
}

/* popup */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

.popup-buttons button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.popup-buttons button.delete {
  background-color: red;
  color: white;
  font-weight: 600;
  width: 130px;
  height: 40px;
}

.close-button {
  margin-left: 35px;
  margin-top: 10px;
  font-weight: bold;
}

.popuppara {
  margin-top: -10px;
}

.popup-buttons button.cancel {
  background-color: white;
  color:
    #0F62FE;
  height: 40px;
  font-weight: 600;
  width: 130px;
  border: 2px solid #0F62FE;
}

.deleteappoint {
  font-weight: bolder;
  font-size: 25px;
}

.popup-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Box shadow for popup */
  padding: 20px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1050px) {
  .appointment-cancel-edit-medicine {
    margin-top: 30px;
  }

  .appointment-cancel-edit-medicine .col-md-6 {
    margin-left: 0; 
    margin-top: 40px;
  }

  .appointment-cancel-edit-medicine {
    flex-direction: column; 
  }

  .appointment-cancel-edit-medicine > div {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .appointment-col3 {
    margin-right: 50px;
    justify-content: flex-end; 
  }
  .appointment-notedoctor {
    height: 200vh;
    object-fit: cover;
    display: none;
  }
}

@media (min-width: 1032px) and (max-width: 1360px) {
  .appointment-notedoctor {
   
  }}
  .appointment-cancel-edit-medicine1 {
    margin-top: 15px;
  }
  .appointment-consult {
    font-size: 1rem;  /* Adjust font size for responsiveness */
    border-radius: 5px;
    background-color: #6E7787;
    color: white;
    padding: 0.5rem 1rem;  /* Adjust padding for responsiveness */
  }
  
  .appointment-consult:hover {
    cursor: pointer;
  }
  
  .appointment-time-card {
    padding: 1rem;
  }
  .appointment-starton {
    font-size: 1.2rem; /* Default font size */
  }  
  
  
  .appointment-start {
    color: black;
    border-color: black;
  }
  
  .appointment-starttime {
    color: black;
    border: none;
    /* margin-top: 30px; */
    font-size: 10px;
    font-weight: 600;
  }
  
  .appointment-viewimage:hover {
    cursor: pointer;
  }