.contact-main-container {
    display: flex;
margin-top: -60px;
    background-image: url(../photos/Groups.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100%;
    padding-bottom: 50px;
    width: 100%; 
   
}

.contact-box-container {
    margin: 140px 50px 0 0;
    background-color:  #7dbccf;
    padding: 40px 50px 50px 45px;
  width:470px;
  height: 570px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.contact-username-label {
    font-size: 13px;
    margin-top: 8%;
    font-weight: 400;
    color:rgb(8, 8, 8);
  }
  .contact-password-label {
    font-size: 13px;
    font-weight: 400;
    color:rgb(8, 8, 8);
  }

  .contactus-input-field {
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    padding-left: 20px;
    border-radius: 10px;
    font-size: 12px;
  }
  .contact-input-field-box {
    width: 100%;
    height: 100px;
    outline: none;
    border: none;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 10px;
    font-size: 12px;
  }

.contact-text{
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin: -5px 0px -6px 0px;
  }
.contact-textarea-container
{
    margin-top: -3px;
}

.contact-submit-button {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 0px;
    background-color: #0089FF;
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-bottom: 60px;
}

.contact-submit-button:hover {
    opacity: 90%;
    cursor: pointer;
}

.contact-text-container {
 
    width: 60%;
    margin-top: 43%;
    margin-left: 6%;
    margin-right: 4%;
}

.contact-heading {
    font-size: 250%;
    font-weight: bolder;
    color: white;
}

.contact-para {
    font-size: 18px;
    margin-top: 7px;
    padding-right: 20%;
    color: white;
}

.contact-medshyne-logo {
    width: 75%;
    margin-top: -10px;
}

/* Responsive Styles */

@media screen and (max-width: 950px) {
    .contact-main-container {
        display: block;
        justify-content: center !important;
    }
    .contact-text-container
    {
        margin-top: 0px;
        padding-top: 5%;
        width: 100%;
    }
    .contact-heading{
        font-size:35px;
    }
    .contact-para
    {
        font-size: 16px;
    }
    .contact-box-container
    {
     margin-left: 10%;   
    }
    
}