/* Original CSS Code */

* {

  margin: 0px;
  padding: 0px;
  
}

.create-main-container {
  background-image: url(../photos/new.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100%; 
  height: 100%;
  padding-bottom: 70px;
}
.create-medshynelogo-container
{
  text-align: center;
}

.create-medshyne-logo {
  width: 75%;
  margin-top: -10px;
}

.create-login-container {
  margin: 70px 50px 0 0;
  background-color:  #7dbccf;
  padding: 40px 50px 50px 45px;
width:470px;
height: 550px;
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


.create-login-spacegap
{
  margin-top: -10px;
}
.createnew-error
{
  font-size: 14px;
}
.create-text{
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin: -5px 0px -6px 0px;
}

.create-password-label {
  font-size: 13px;
  font-weight: 500;
  margin-top: -20px;
  color:rgb(8, 8, 8);
}

.create-username-label {
  font-size: 13px;
  margin-top: 8%;
  font-weight: 500;
  color:rgb(8, 8, 8);
}



.create-input-field {
  width: 100%;
  height: 35px;
  outline: none;
  margin-top: -5px !important;
  border-radius: 10px;
  font-size: 12px;
}


.create-neweye-field {
  width: 17px;
  height: 13px;
text-align: right;
}

.create-neweyehide-field {
  width: 17px;
  height: 18px;
  margin-left: 30px;
}


.create-newvisible:hover{
  cursor: pointer;
}

.create-newpass-container
{
text-align: right;
margin-right: 10px;
margin-top: -30px;
}


.newerror-msg {
  color:red;
  font-size: 15px;
}

.create-signup-button {
  width: 100%;
  height:30px;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  background-color: #0089FF;
  font-size: 15px;
  text-decoration: none;
  color:white;
  font-weight: 400;
}

.create-signup-button:hover {
  opacity: 60%;
  cursor: pointer;
}


/* Responsive adjustments */
@media screen and (min-width:625px) and (max-width:944px) {
  .create-main-container {
     justify-content: right;
     
   }
  .create-login-container {
width: 60%;
}
}

@media screen and (min-width:25px) and (max-width:626px) {
  .create-main-container {
    justify-content: center;
   
  }
  .create-login-container {
width: 100%;
margin-left: 20px;
}
}