/* Mobile.css */


.mobilepage-main-container{
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  object-fit: cover;
  background-image: url('../photos/loginbg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.mobile-org-phone:focus, .mobile-org-phone .form-control:focus {

  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}


.mobilepage-container {
  margin: 6% 8% 2% 3%;
  width: 450px;
  padding: 3% 2% 4% 1.5%;
  border-radius: 3%;
  backdrop-filter: blur(40px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
 height: 550px;
}
.mobilepage-username-container{
  margin-top: -30px;
}
.mobilepage-phone-container
{
  margin-top: -14px;
}

.mobilepage-username-label
{
  font-size: 13px;
  margin-top: -30px !important;
}
.mobilepage-password-container{
  margin-top: -15px ;
}
.mobilepage-medshyne-logo {
  width: 75%;
  height: auto;
}
.mobilepage-eye-visible-label {
  font-size: 17px;
  margin-left: -50px;
  color: rgb(133, 127, 127);
}
.mobilepage-input-field {
  width: 100%;
  height: 35px;
  outline: none;
  border-radius: 8px;
}
.dummycls 
{
  width: 100%;
  height: 35px;
  border-radius: 9px;
  margin-top: 0px;
  margin-right: 20px;
padding-left:9px;
  background-color: white;
  font-size: 15px;
  color: rgb(65, 64, 64);
}
.mobilephone {
  height: 35px;
  border-radius: 9px;
  border: none;
  margin-right: 20px;
  margin-top: 10px;
}


.mobilephoneforget {
  color: #697077;
  font-size: 11px;
  border: none;
  margin-top: 0px;
  background-color: transparent;
  text-decoration: underline solid black;
}
.mobilephoneforget:hover {
cursor: pointer;
color:black;
}

.mobilepage-sendotp-button
{
  width: 280px;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #0089ff;
  font-size: 13px;
  border: none;
  color: white;
}
.mobilepage-login-button {
  width: 260px;
  height: 40px;
  border-radius: 5px;
  margin-right: 7px;
  background-color: #0089ff;
  font-size: 13px;
  margin-left: 10px;
  border: none;
  color: white;
  margin-top: 10px; 
}
.mobilepage-sendotp-button:hover ,
.mobilepage-login-button:hover {
  opacity: 60% ;
  cursor: pointer;
}
.mobilepage-eye-field{
  width: 20px;
  height: 12px;
  cursor: pointer;
}
.mobilepage-eyehide-field {
  width: 20px;
  height: 15px;
  cursor: pointer;
}
.loginpage-eye-visible-label {
  font-size: 15px;
  margin-left: -27px;
  margin-top: 100px;
  color: rgb(92, 90, 90);
}
.loginpage-eye-visible-label:hover {
  cursor: pointer;
}
.mobilepage-forgetpassword-link {
  color: #626b74;
  font-size: 11px;
  margin-top: -10px;
  background-color: transparent !important;
  border:none !important;
  text-decoration: underline solid black;
}
.mobilepage-forgetpassword-link:hover {
  cursor: pointer;
  color: #000;
}
.mobilepage-Noaccount {
  color: #001D6C;
  font-size: 12px;
}
.mobilepage-signup-link
{
  font-size: 12px;
}
.mobilepage-horizontalline {
  border: 1px solid #FFFF;
  width: 100%;
  margin-top: -3px !important;

}
.mobile-org-phone .form-control
{
  border: none !important;
  outline: none !important;
}

/* Responsive adjustments */
@media screen and (max-width:776px) {
  .mobilepage-container {
    width: 70% ;
  }
}
