

.dummycls{

}

/* .dummycls .mobilephone .react-tel-input
{
  width: 600px !important;
  height:20px;
  border-radius: 9px;
 

} */

/* .react-tel-input .form-control
{
    width: 600px !important;
    height:20px;
    border-radius: 9px; 
} */