.background-image {
  background-image: url('bgImage.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  width: 100%;
  height: 610px;
  position: relative;
}

.service-para {
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 2%;
  margin-bottom: 2%;
  font-family: 'inter' serif;
}

.service-video {
  width: 90%;
  height: 50vh;
  object-fit: cover;
  border-radius: 20px;
}

.service-videowidth {
  width: 800px;
}

.service-division {
  width: 30%;
  border-radius: 10px;
  position: relative;

}

/* styles/services.css */

.service-seemore {
  border: 1px solid #0089FF;
  color: #0089FF;
  width: 196px;
  padding: 5px;
  padding-left: 10px;
  height: 64px;
  font-family: 'inter' serif;
  border-radius: 51px;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: color 0.4s;
}


.service-seemore::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0089FF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 2s ease;
  z-index: -1;
  font-family: 'inter' serif;
}

.service-seemore:hover::before {
  transform: scaleX(1);
}

.service-seemore:hover {
  color: white;
}

.service-arrow {
  width: 56px;
  height: 56px;
  top: 4px;
  left: 136px;
  border-radius: 56px;
  border: 2px;
  padding-bottom: 4px;
  margin-left: 35px;
}

.service-text {
  position: absolute;
  top: 49%;
  left: 45%;
  width: 90%;
  height: 50vh;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-top: 40%;
  font-family: 'inter' serif;
  border-radius: 20px;
  text-align: center;
}

.service-container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-position: center center;
  position: relative;

}

.arrow-container {
  text-align: center;
}

@media (max-width: 600px) {
  .background-image {
    background-size: cover; /* Make sure the image covers the container */
    height: 400px; /* Adjust height for smaller screens */
  }
}

/* For tablets and smaller desktop screens */
@media (max-width: 992px) {
  .background-image {
    background-size: cover; /* Make sure the image covers the container */
    height: 500px; /* Adjust height for medium screens */
  }
}
