.class-name{
  padding-left: 20px;
}

.class-table
{
  text-align: center;
  padding: 1px;
  margin-bottom: 20px;
}

td{
  border: none !important;
 
}

.classpagination-page
{
  height:25px;
  width: 17px;
  padding:10px
}


.class-tablerow
{
  border: 1px solid #f1f1f1;
  border-right: 1px solid white;
  
}
 


.class-headname
{
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.1); /* Adding a box shadow */

  width: 200px; /* Adjust the max-width as needed */
  padding: 10px;
  height: 30px;
  border:none;
  outline: none;
  border-radius: 10px;
}
.class-head{
    margin-left:8.5cm;
    padding-top: 185px;
    padding-left: 20;
    background-color: #f1f1f1;
    padding-bottom: 80px;
 
    height: 100vh !important;
    margin-top: 0px;
 
}



.class-search{
display: flex;
justify-content: right;
width:83%;

height: 20px;
margin-top: -50px;
margin-bottom: 20px;

}




.DeleteIcon:hover{
  cursor: pointer;
}

.class-editicon
{
  width: 28px;
  height: 28px;
}

.class-editicon:hover
{
  cursor: pointer;
}



.class-del{
  border:none;
  margin-left:30px ;
}

.class-bordercontainer
{
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: -10px;
  width: 96%;
  margin-left: 21px;
  border: none;
  margin-top: -25px;
  font-size: 15px;
  background-color: white;
}

.class-delete-icon
{
  margin-left: -20px !important;
  width: 28px;
  height: 28px;

}

.class-delete-icon:hover
{
  cursor: pointer;
}


.class-body{
  border-right: 10px;
  border-left: 10px;
  margin-top: -200px;
  border: none !important;
  overflow: none !important;
  padding: 20px;
}

.class-depthead
{
  margin-top: 30px;
  margin-left: 23px;
}

.class-search-container {
  position: relative;
  width:360px;
  margin-left: 10px;
}

.class-searchimage
{
  width: 15px; 
  height: 15px; 
  position: absolute;
  margin-left: 97%; 
  margin-top: -2px;
  
}

.class-search-input {
  padding-left: 28px;
  font-size: 12px;
  margin-top: -10px;
  margin-left: 95%;
  width:65%;
  height: 30px;
  border: none;
  position: absolute;
  outline: none;
  border-radius: 5px;
}

.class-table-details
{
  border: none;
}

.class-accessimage
{
  width: 90px;
  height:30px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
 
}

.class-buttoncont
{
  width: 150px;
  height: 50px;
  margin-left: 130px;
}

.addcls{

  margin-right: -1px;
  font-size: 15px;
}
.classpagination-page {
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
  border: 50% solid #ccc;
  font-size: 12px;
  margin-bottom:30px;
  
}

.depart{
  border-bottom: 1px solid #ECECEC;
}

.classpagination-page.active {
  background-color: #B2DCFF;
  color: #697077;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.class-addbutton{
  margin-left: 103%;
  border:none;
  padding: -6px;
  padding-left:35px;
  padding-right:30px;
  margin-bottom: 10px;
  border-radius: 3px;
  color:white;
  width: 150px;
  height: 28px;
  font-size:14px;
  background-color: #0089FF;
}
.class-icon-image img{
  width:25px;
  border:2px solid #f8f4f4;
  margin-top: -10px;
  margin-left: 920%;
  
}

.class-flex{

  display: flex;
  flex: row;
  width: 450px;
  margin-left: 50px;
  padding-top: 10px;
}

.class-icon-image
{
margin-top: -6px;
margin-left: 20px;
padding-left: -50px;
}

.class-bgimage {
  width: 100%;
  height: 200px;
  object-fit: cover !important;
  margin-top: -150px;
}

.class-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px !important;
  align-items: center;
 
}

.class-pagination a {
  text-align: center;
  color: rgb(188, 189, 190);
  padding: 8px 16px;
  margin: 0 5px;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 240px;
  display: inline-block;
}


.class-pagination-button {
  padding: 8px 10px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0 5px;
  transition: background-color 0.5s;
}
.class-pagination-button:hover {
  background-color: #f7f5f5;
}

.class-pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.class-table td{
  border-bottom: 1px solid black;
  padding: -1.5%;
}

.class-submit-button,
.class-cancel-button {
  border: none;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0089ff; 
  color: #fff;
}

.class-submit-button {
  margin-left: 10px !important;
}

.class-cancel-button {
  background-color: #fdfbfb; 
  border: 2px solid  #ff5050; 
  border-radius: 5px;
  font-weight: 420;
  margin-left:5px !important; 
  color: #ff5050; 
}


.class-submit-button:hover,
.class-cancel-button:hover {
  opacity: 70%;
}



.class-input {
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  padding: 10px !important;
  padding-left: 15px !important;
  height: 30px;
  border:none !important;
  outline: none !important;
  border-radius: 10px;
}



.class-icon-image{

  margin-left: 5px;
  margin-top:10px;
 
}

.class-pagination {
  margin-top: 35px;
  display: flex;
}

.class-pagination-pages {
  display: flex;
  color: #697077;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 30px;
}

.page {
  margin-right: 10px; 
}
.page:hover
{
  cursor: pointer;
}
.active-page {
  color: 
  #697077;
  background-color: #B2DCFF;
  padding-left: 9px;
  border-radius: 50%;
  width: 25px;
  margin-right: 10px;
  margin-top:0px;
}

.ellipsis {
  margin-right: 10px; 
}


.class-pagination-arrow {
cursor: pointer;
margin-right: 0px;
color: #697077;
font-size: 16px; 
}

td.class-datemethod {
  text-align: right; 
  font-family: roboto, sans-serif; 
  font-size: 14px; 
  color: #333;
  padding: 9px;
 
}

.add-cls{
  font-size: 13px;
}

.class-table th {
  border:none;
}

.hiddenblock
{
  border: none !important;
  outline: none !important;
}

.class-popup1-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(114, 107, 107, 0.24); 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40%;
  
}

.class-popup1-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  /* width: 20%;
  height: 23%; */
  margin-left: -30%;
 
}

.class-deleteappoint1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  font-size: 17px;
  margin-top: -5px;
  margin-bottom: 30px;
  margin-left: 2%;
}

.class-close-button1 {
  border: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
  margin-right: 10px;
  padding-bottom: 1px;
  padding-left: -0.5rem ;
  padding-right: 0.1rem;
}

.class-popuppara1 {
  font-size: 12px;
  margin-bottom: 5px;
}

.class-popup1-buttons {
  display: flex;
  justify-content: space-between;
  width: 101%;
margin-top: 15px;
}

.class-popup1-buttons button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 13px;

}

.class-cancel1 {
  background-color: white;
  color: #0F62FE;
  font-weight: 600;
  border: 2px solid #0F62FE;
 
}

.class-delete1 {
  background-color: red;
  color: white;
  font-weight: 600;
}

.class-popup1-buttons {
  display: flex;
  justify-content: space-between;
}

.class-popup1-buttons button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.class-delete1 {
  background-color: red;
  color: white;
  font-weight: 600;
  width: 115px;
  height: 35px;
  margin-right: 8px;
}

.class-close-button1
{
margin-left: 150px;
margin-top: -13px;
font-weight: bold;
}

.class-popuppara1
{
  margin-top: -30px;
  font-size: 13px;
}

.class-cancel1 {
  background-color: white;
  color: #0F62FE;
  height: 35px;
  font-weight: 600;
  width: 117px;
  margin-right: 20px !important;
  border: 2px solid #0F62FE !important;
}

.class-deleteappoint1
{
  font-weight: bolder;
  font-size: 25px;
}

.popup1-container-class {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  padding:10px;
  padding-left: 13px !important;
  margin-right: 28%;
  padding-left: 0.2rem;
  width: 260px;
  
}

.class-popup1-buttons {
  display: flex;
  justify-content: space-between;
}

.class-prevoius-arrow
{
  font-size: 20px;
}

.class-next-arrow
{
  font-size: 20px !important;
}

.class-delete
{
  margin-left: 60px !important;
}

/* responsive */
@media screen and (max-width:1060px) {
  .class-table th{
    font-size: 12px;
  }
}
@media screen and (max-width: 790px){
  .class-head{
    margin-left: 4.5cm;
  }
  
}
  
@media screen and (max-width:690px) {
  .class-search
  {
    margin-top: 5%;
  }
}



@media (min-width: 2000px) {
  .class-bgimage {
    width: 100%; /* Fixed width */
    height: auto; /* Maintain aspect ratio */
    margin-left: auto;
    margin-right: auto; /* Center the image horizontally */
  }
}