
.land-seemore{
position: absolute;
top: 90%;
left: 13%;
width: 20% !important;
height: 10% !important;
transform: translate(-50%, -50%);
color: white;

}


.land-seemore:hover
{
  cursor: pointer !important;
}

.d-flex
{
  display: flex;
}


.carousel {
  width: 100%;
}

.slide
{
  width: 100%;
  height: 100vh;
}

.slide img {
  width: 100%;
  height: 110vh;
}

.carouseltexthead
{
  font-size: 49px;
  color:white;
}
.firstbutton
{
  
  width:20%;
  height: 8%;
  border-radius: 30px;
  background-color: #0089FF;
  color:white;
  border: none;
  outline: none;
  position: absolute; /* or 'fixed' if you want it to stay in place while scrolling */
  left: 0;
  top:90;
  z-index: 1000;
}

.carouseltextpara
{
  font-size: 20px;
  color:white;
  width: 690px;
 
}
body::-webkit-scrollbar {
  display:none !important;
}

.thumbnails-container {
  position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: right !important;
    border-radius: 10px;
    z-index: 1000; 
    width: 90%;
}

.thumbnail-nav
{

width:55px;
height: 40px; 
top: 0;
z-index: 1000;
margin-top: 8px;
margin-right: -26px;
cursor: pointer;

}
.thumbnail-nav1
{
  width:55px;
  height: 40px; 
  display: flex;
cursor: pointer;
margin-top: 8px;
margin-left: -26px;
}

.thumbnails {
  display: flex;
  justify-content: right;
  align-items: right;
  cursor: pointer;
}

.thumbnail {
  width: 70px;
  height: 45px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 8px;
}

.thumbnail.active {
  width: 100px;
  height: 50px;
margin-top: -5px;
  border-radius: 10px;
  border: 5px solid white;
}

/* Media Queries */

@media screen and (min-width:567px) and (max-width: 700px) {

  .land-seemore {
top: 100%;
  }
}

@media screen and (max-width: 568px) {

  .land-seemore {
top: 135%;
  }
}
