@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.prescriptionthh{
    font-size: 14px;
    border-bottom-width:0.15rem;
    border-color: whitesmoke;
    padding-bottom: 8px;
    padding-left: 20px;
}
.prescriptiontdd{
   font-size: 13px;
    border-bottom-width:0.1rem;
    border-style:solid;
    border-color: whitesmoke;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 20px;
}
.tabless {
    margin-left: 0rem;
    width: 100%;
  }
  
  .prescriptionthh,
  .prescriptiontdd {
    text-align: center;
    vertical-align: middle;
  }
  .transpay{
    margin-left: -48px !important;
    font-family: "Inter", system-ui !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 16px !important;
  color: #000000;
  }
  .transpay1 {
    margin-left: -45px ;
    font-family: "Inter", system-ui !important;
    font-weight: 500 !important; 
    font-style: normal !important;
    font-size: 16px !important; 
    color: #000000;
  }
  @media (max-width: 1399px){
    .transpay{
        margin-left: -17px !important;
        font-family: "Inter", system-ui ;
      font-optical-sizing: auto !important;
      font-weight: 500 !important;
      font-style: normal !important;
      font-size: 16px !important;   
      color: #000000;
      }
    .transpay1 {
        margin-left: -15px;
        font-family: "Inter", system-ui !important;
        font-weight: 500 !important; 
        font-style: normal !important;
        font-size: 16px !important; 
        color: #000000;
      }
  }

  .transdate{
    font-family: "Inter", system-ui !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 14px !important;
    color: #000000; 
  }
  .transprice{
    font-family: "Inter", system-ui !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 14px !important;
    color: #000000; 
  }
  .transplan{
    font-family: "Inter", system-ui !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 14px !important;
    color: #000000; 
  }