* {
  margin: 0;
  padding: 0;
}

.about-maincontainer {
  display: flex;
  width: 100%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  background-color: white;
  padding: 10px 10px 10px 10px;
}

.about-paracontainer {
  margin-left: 2vw;
  width: 50%;
  font-family: "inter" serif;
}

.about-top {
  gap: 24px;
}

.about-para {
  margin-top: 1.5vw; /* Adjusted margin for responsiveness */
  color: #8094a6;
  font-size: 18px;
  width: 616px;
}

.about-head {
  font-family: "inter" serif;
  margin-top: 4vw; /* Adjusted margin for responsiveness */
  font-size: 2.5vw; /* Adjusted font size for responsiveness */
}

.about-spantext {
  background-image: linear-gradient(to right, #0089ff, #33c140);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bolder;
  font-family: "inter" serif;
}

.about-imagecontainer {
  /* margin-right: 10vw; */
  width: 45%;
  height: 500px;
}

.aboutimage {
  margin-top: 40px;
  width: 100% !important;
  height: 480px; /* Adjusted width for responsiveness */
  margin-left: 25px;
  border-radius: 45px;
}

/* styles/services.css */
.about-seemore {
  border: 1px solid #0089ff;
  color: #0089ff;
  width: 196px;
  padding: 5px;
  padding-left: 20px;
  height: 64px;
  font-family: "inter" serif;
  border-radius: 51px;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: color 0.4s;
}

.about-seemore::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0089ff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 2s ease;
  z-index: -1;
  font-family: "inter" serif;
}

.about-seemore:hover::before {
  transform: scaleX(1);
}

.about-seemore:hover {
  color: white;
}
.service-arrow-about {
  width: 56px;
  height: 56px;
  top: 4px;
  left: 136px;
  border-radius: 56px;
  border: 2px;
  padding-bottom: 4px;
  margin-left: 35px;
}

/* For Laptops/Desktops */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .about-maincontainer {
    display: flex;
    width: 100%;
  }
  .about-paracontainer {
    margin-left: 2vw; /* Adjusted margin for responsiveness */
    width: 50%;
    padding-right: 30px;
  }

  .about-top {
    gap: 24px;
  }
  
  .about-para {
    margin-top: 1.5vw; /* Adjusted margin for responsiveness */
    color: #8094a6;
    font-size: 18px;
    width: 100%;
  }
  
  .about-head {
    font-family: "inter" serif;
    margin-top: 4vw; /* Adjusted margin for responsiveness */
    font-size: 2.5vw; /* Adjusted font size for responsiveness */
  }
  .about-imagecontainer {
    /* margin-right: 10vw; */
    width: 45%;
    height: 500px;
  }
  .aboutimage {
    margin-top: 30px;
    width: 100% !important; /* Adjusted width for responsiveness */
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .aboutimage {
    margin-top: 50px;
    width: 100%; /* Adjusted width for responsiveness */
    padding-right: 10px;
  }
  .about-paracontainer {
    margin-left: 3vw; /* Adjusted margin for responsiveness */
    width: 50%;
  }

  .about-para {
    font-size: 16px;
    width: 100%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .aboutimage {
    margin-top: 50px;
    width: 100%; /* Adjusted width for responsiveness */
    height: 400px;
    padding-right: 15px;
  }
  .about-para {
    font-size: 13px;
    width: 100%;
  }
  .about-paracontainer {
    margin-left: 3vw; /* Adjusted margin for responsiveness */
  }
  .readimage {
    width: 20%;
  }
}

@media only screen and (min-width: 360px) and (max-width: 576px) {
  .about-head {
    font-size: 20px;
  }
  .about-paracontainer {
    margin-left: 6vw; /* Adjusted margin for responsiveness */
    margin-right: 3vw;
    width: 200px;
  }
  .aboutimage {
    margin-top: 50px;
    margin-left: 80px;
    width: 270px;
    height: 400px;
    /* Adjusted width for responsiveness */
  }
  .about-para {
    width: 100%;
    font-size: 12px;
  }
  .readimage {
    width: 20%;
  }
}
