.landing-footer {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
    padding: 50px;
    background-color: white;
    
}

.landing-footer-address{
    margin-top: 30px !important;
}

.landing-footer .landing-footer-third {
    grid-column: 1 / span 2;
    padding: 10px;
}

.landing-footer .landing-footer-first {
    padding: 10px;
}

.landing-footer .landing-footer-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.landing-footer .landing-footer-address,
.landing-footer .landing-footer-contact {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    /* Semi-bold */
    font-size: 14px;
    line-height: 21px;

}
.landing-footer .landing-footer-address p,
.landing-footer .landing-footer-contact p {
  font-weight: 400; /* Normal weight */
}
.landing-footer .landing-footer-social-media {
    margin-top: 30px;
}

.landing-footer .landing-footer-social-media a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.landing-footer .landing-footer-second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.landing-footer .landing-footer-column {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.landing-footer .landing-footer-column a {
    margin-bottom: 10px;
    text-decoration: none;
    /* Remove underline */
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    /* Semi-bold */
    font-size: 16px;
    line-height: 24px;
}

.landing-footer .landing-footer-third {
    grid-column: 1 / span 2;
    padding: 10px;
    position: relative;
    margin-top: 40px;
}

.landing-footer .landing-footer-divider {
    border: 0;
    border-top: 1px solid black;
    margin: 10px 0;
}

.landing-footer .landing-footer-third-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.landing-footer .landing-footer-left {
    color: black;
}

.landing-footer .landing-footer-right {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.landing-footer .landing-footer-link {
    text-decoration: underline;
    color: black;
}