.Studentdetailsmain_card-1{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-left: 12%;
  margin-bottom: 10px;
  width: 113%;
  height: auto !important;
}
.changestudent{
  margin-right: 30px;
}
.form-control[readonly] {
  background-color: #fff; /* Set the background color */
  color: #000; /* Set the text color */
  opacity: 1; /* Ensure the opacity remains consistent */
   /* Optional: change the cursor to indicate it's not editable */
}

.error-label {
  color: red !important; /* Add !important as a last resort */
}
#studentgender{
  margin-left: 60px;
}

/* .error-input {
  border: 1px solid red;
}  */


.StudentdetailState input {
    box-shadow: rgba(85, 84, 84, 0.1) 1.95px 1.95px 2.6px;
    font-size: 13px;
    height:40px;
    width: 112%;
    border-radius: 10px;
    
  }

  .Studentdetailsform input {
    box-shadow: rgba(85, 84, 84, 0.1) 1.95px 1.95px 2.6px;
    font-size: 13px;
    height:40px;
    width: 105%;
    border-radius: 10px;
  }
  
  .Studentdetailsfirst input {
    box-shadow: rgba(85, 84, 84, 0.1) 1.95px 1.95px 2.6px;
    font-size: 13px;
    height:40px;
    width: 130%;
    border-radius: 10px;
  }
  .Staffdetailssecond input {
    box-shadow: rgba(85, 84, 84, 0.1) 1.95px 1.95px 2.6px;
    font-size: 13px;
  
    height:40px;
  width: 130%;
    border-radius: 10px;
    
  }
  .StudentdetailsformAddress input{
    box-shadow: rgba(85, 84, 84, 0.1) 1.95px 1.95px 2.6px;
    font-size: 13px;
    height:40px;
    width: 117%;
    border-radius: 10px;
  }
  #studentclass{
    box-shadow: rgba(85, 84, 84, 0.1) 1.95px 1.95px 2.6px;
  }
  #studentdivision{
    box-shadow: rgba(85, 84, 84, 0.1) 1.95px 1.95px 2.6px; 
  }
  .Studentdetailsform textarea {
    box-shadow: rgba(0, 0, 0, 0.1) 0.5px 1.5px 1.6px;
    font-size: 14px;
    border-radius: 10px;
    width:105%;
  }
  .Studentdetailsformnext textarea{
    box-shadow: rgba(0, 0, 0, 0.1) 0.5px 1.5px 1.6px;
    font-size: 14px;
    border-radius: 10px;
    width:108%;
    margin-left: 14px;
  }
  .studentdetailsform-gender{
    box-shadow: rgba(85, 84, 84, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 55px;
    height: 40px;
    width:80%;
    
    border-radius: 10px;
    border-color:#696868;
    border:1px solid rgba(0, 0, 0, 0.1);
  }
  .studentDetailschange{
    color:#21272A;
 font-size: 13px;

  }

  .studentdetails-button-style {
    width: 5%;
    margin-left: 28%;
    margin-top: 90px;
   }   
   .borderrstafff {
    box-shadow: rgba(0, 0, 0, 00.1) 0.5px 1.5px 1.6px;
    border-radius: 10px;
    border-color:#696868;
    border:1px solid rgba(0, 0, 0, 0.1);
    width: 103%;
  }
  .studentdetailsborderrstaf{
    
      box-shadow: rgba(0, 0, 0, 00.1) 0.5px 1.5px 1.6px;
      border-radius: 10px;
      border-color:#696868;
      border:1px solid rgba(0, 0, 0, 0.1);
      width: 104%;
  
  }
   .add-studentparent
{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.student-add{
  margin-top: -50px !important;
}
.studenttss-addperson {
  width: 111%;
  max-width: 400px; 
  margin: 0 auto; 
  padding: 10px 10px;
  border: none;
  font-size: 13px;
color: #0089FF;;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #0089FF;
  height: 38px;
  transition: all 0.3s ease-in-out;
}



@media (max-width: 768px) {
  .student-addperson {
    max-width: 100%;
    padding: 10px;
  }
}




   @media screen and (min-width:992px) and (max-width:1150px) {
    .Studentdetailsmain_card-1 {
      margin-left: 100px !important;
      width: 115% !important;
        }
        .submit-button
        {
          margin-left: 0px;
        }
        .uploadd-button{
          font-size: 10px;
        
        }
         .staff1-signupimagelinkbutton
  {
    width: 20px;
    height: 20px;
    margin-left: 280px;
    margin-bottom: -10px;
  
   }
  }
  
  @media screen  and (min-width:791px) and (max-width:991px) {
    .Studentdetailsmain_card-1 {
      margin-left: 220px !important;
      
      width: 93% !important;
        }
        .submit-button
        {
          margin-left: 230px;
        }
        .uploadd-button{
          font-size: 10px;
        
        }
       
  
  }
  
  @media screen  and (min-width:791px) and (max-width:891px) {
    .Studentdetailsmain_card-1 {
      margin-left: 220px !important;
      
      width:86% !important;
        }
        #upload-button{
          font-size: 10px;
        }
        .submit-button
        {
          margin-left: 210px;
        }
      }
  
  @media screen and (min-width:768px) and (max-width:791px) {
    .Studentdetailsmain_card-1 {
      /* margin-left:100px !important; */
      width: 98% !important;
      
        }
        .submit-button
        {
          margin-left: 30px;
        }
        .staff-button-style
        {
  margin-left: 210px !important;
        }
        .staff-remove
        {
          margin-left: 0px !important;
        }
        #upload-button{
          font-size: 10px;
        }
  }
  
  @media screen and (max-width:767px)
  {
    
    
    .submit-button
    {
      margin-left:270px;
    }
    .Studentdetailsmain_card-1 {
      margin-left:110px !important;
      
      width: 120% !important;
        }
        .staff-button-style
        {
  margin-left: 210px !important;
        }
        .bluebutton{
          font-size: 10px;
        }
  }
  @media screen and (max-width:575px) {
    .staff-remove
    {
      margin-left: 20px !important;
    }
  }
  
  @media screen and (max-width:790px) {
    .studentts-addperson
    {
      margin-left: 0spx;
  width: 120% !important;
    }
    .bluebutton{
      font-size: 10px;
    }
    .newpass{
      margin-bottom: 20px;
     }
   
  }
  
  @media screen and (max-width:575px) {
    .studenttss-addperson
    {
      margin-left: 0px;
  width: 70% !important;
  margin-top: 70px;
    }
  
    .student-main
    {
      width:170%;
    }
    .bluebutton{
      font-size: 10px;
    }
  }